u {
  background-color: #6088E0; 
  color: white; 
  padding: 1px 3px; 
  margin: 0px 2px; 
  white-space: nowrap;
  text-decoration: none
}

p br {
  display: none;
}

.tip { 
  padding: 34px 72px; 
  background-color: #E7EAF2;
  color: #3C5CA9;
  margin: 50px 0;
}


.nav_menu {
  margin: 0;
  padding: 0;
  width: 200px;
  z-index: 100;
  position: fixed;
  bottom: 10%;
  right: 4px;
  border: 1px solid #6495FF;
}
.nav_menu a {
  display: block;
  background-color: #F5F6F7;
  color: #3C5CA9;
  text-decoration: none;
  padding: 8px
}
.nav_menu a:hover {
  background-color: #6495FF;
  display: block;
  color: #F5F6F7;
  text-decoration: none;
  padding: 8px
}
.nav_menu a:active {
  background-color: #6495FF;
  display: block;
  color: #F5F6F7;
  text-decoration: none;
  padding: 8px
}
